.rightbar-container{
    height: calc(100vh - 80px);
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    border-left: 2px solid #d1d0e0;
}

.rightbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rightbar-container p{
    font-weight: 500;
    text-transform: capitalize;
}

.rightbar-icon{
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border: 1px solid #d1d0e0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 10px 0;
    box-shadow: 0px 1px 2px #0000001A;
    cursor: pointer;
}

.rightbar-icon i{
    margin: 0;
    font-size: 23px;
}

.rightbar-border-line{
    width: 5px;
    height: 40vh;
    background-color: #d1d0e0;
    border-radius: 10px;
    position: absolute;
    top: 30vh;
    left: 0;
}